/Recursividade/nbproject/private/
/Recursividade/build/
/ListaExercicio/nbproject/private/
/ListaExercicio/build/
/ListaEncadeada/nbproject/private/
/ListaEncadeada/build/
/desafio-dio/nbproject/private/
/FilaLe/nbproject/private/
/FilaLe/build/
/FilaA/nbproject/private/
/FilaA/build/
/PilhaE/nbproject/private/
/PilhaE/build/
/PilhaA/nbproject/private/
/PilhaA/build/
